/* 
general 
-------
*/
* {
  scroll-behavior: smooth;
}
body {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.ant-layout {
  background: #fff !important;
}

.mainLayout .ant-layout-header {
  /* position: fixed; */
  background: #f8f8f8;
  padding: 0;
  height: auto;
  line-height: 1.6;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

.bgGray {
  background: #fafafa;
}

/* 
title holder
------------
*/
.titleHolder {
  text-align: center;
  position: relative;
  padding: 0 0 20px;
  margin: 0 0 40px;
}

.titleHolder:after {
  transform: translateX(-50%);
  content: '';
  background: #110303;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 50px;
}

.titleHolder h2 {
  font-size: 28px;
  margin: 0;
}

/* 
header
------ 
*/
.ant-layout-header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}
.logo-shahupuri{
  width: 10%;
  height: 10%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.header .logo {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
}

.header .logo .fas {
  color: #1890ff;
  margin: 0 5px 0 0;
  font-size: 28px;
}

.header .logo a {
  color: #333;
}

.header .ant-anchor-wrapper {
  background: none;
}

.header .ant-anchor {
  display: flex;
}

.header .ant-anchor-ink {
  display: none;
}

.header .ant-anchor-link {
  padding: 0 20px;
  line-height: 1.4;
  position: relative;
}

.header .ant-anchor-link:before,
.header .ant-anchor-link:after {
  content: '';
  background: #1890ff;
  width: 1px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 0;
  transition: all 0.3s linear;
}

.header .ant-anchor-link:after {
  left: auto;
  right: 30%;
}

.header .ant-anchor-link.ant-anchor-link-active:before,
.header .ant-anchor-link:hover:before {
  left: 5%;
  opacity: 1;
}

.header .ant-anchor-link.ant-anchor-link-active:after,
.header .ant-anchor-link:hover:after {
  right: 5%;
  opacity: 1;
}

/* ant menu */
.header .ant-menu {
  border: 0;
  background: none !important;
}

.header .ant-menu li.ant-menu-item {
  position: relative;
  color: #333;
}

.header .ant-menu li.ant-menu-item:before,
.header .ant-menu li.ant-menu-item:after {
  content: '';
  background: #1890ff;
  width: 1px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 0;
  transition: all 0.3s linear;
}

.header .ant-menu li.ant-menu-item:after {
  left: auto;
  right: 30%;
}

.header .ant-menu li.ant-menu-item,
.header .ant-menu li.ant-menu-item-selected {
  border: 0 !important;
}

.header .ant-menu li.ant-menu-item-selected,
.header .ant-menu li.ant-menu-item:hover {
  color: #1890ff;
  background: none;
}

.header .ant-menu li.ant-menu-item-selected:before,
.header .ant-menu li.ant-menu-item:hover:before {
  left: 5%;
  opacity: 1;
}

.header .ant-menu li.ant-menu-item-selected:after,
.header .ant-menu li.ant-menu-item:hover:after {
  right: 5%;
  opacity: 1;
}
.headermenumain{
    margin: 15px;
    font-style: normal;
    font-weight: 600;
    color: black;
}
.mobilehedermenu{
  margin: 15px;
    font-style: normal;
    font-weight: 600;
    color: black;
}
.mobilehedermainallmenu{
  display: inline-grid;
}
.dropdownbuttongallery{
  border: none;
  background-color: #f8f8f8;
 
}
.gallearytextdrop{
  font-style: normal;
  font-weight: 649 !important;
  font-size: 16px;
  color: black !important;
}
.dropbackground{
  background-color: #f8f8f8;
  padding: 10px;
}

/* 
hero
---- 
*/
.heroBlock {
  /* background: url('assets/images/images7.jpg') no-repeat;   */
  /* bg-hero.jpg */
  background-position: 50% 100%;
  background-size: 100% 100%;
  height: 100vh;
}

.heroBlock .container-fluid {
  display: block !important;
}

.heroBlock .ant-carousel,
.heroBlock .ant-carousel div {
  height: 100%;
}

.heroBlock .slick-dots li button {
  background: #000 !important;
}

.heroBlock .slick-dots li.slick-active button {
  background: #1890ff !important;
}

.heroBlock .content {
  max-width: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 70px;
}

.heroBlock h3 {
  font-size: 30px;
  line-height: 1.2;
  margin: 0 0 30px;
}

.heroBlock p {
  margin: 0 0 30px;
}

.heroBlock .btnHolder {
  height: auto !important;
}

.heroBlock .btnHolder button,
.heroBlock .btnHolder .fas {
  margin: 0 10px 0 0;
}
.homesliderimage{
  width: 100%;
  background-position: 50% 100%;
  background-size: 100% 100%;
  height: 100vh;
  margin-top: 63px;
}

.text-carausal {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.textposition{
  position: absolute;
  bottom: 315px;
  left: 70px;
  padding: 10px; 
}
.contentposition{
  position: absolute;
  bottom: 270px;
  left: 70px;
  padding: 10px; 
}
.pre-headline {
  margin-bottom: 16px;
}

.textpositioncarousal {
  margin-top: 118px;
  margin-left: 106px;
  width: 100%;
}
.styleoftext{
  font-family: var(--is-tertiary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 68px;
    line-height: 93px;
    color: var(--is-black-color);
}
.contentstyletext{
  font-family: var(--is-tertiary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 48px;
  color: var(--is-black-color);
}
.styleof2{
  color: red;
}
.backgroundimaginmobileview{
  background-position: 50% 100%;
  background-size: 100% 100%;
  height: 100vh;
}
.mobiletext{
  padding-top: 228px;
  font-size: medium;
  font-weight: bolder;
  /* color: white; */
  margin-bottom: 11px;
}

.sliderineerdiv {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.imagesize {
  top: 44%;
  left: 37%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 55%;
  border-radius: 6%;
  position: absolute;
  box-shadow: 0px 0px 7px 12px rgb(255 255 255), 0px 1px 20px 20px rgb(2 0 0 / 44%);
}
.imagesize2 {
  position: absolute;
  top: 52%;
  left: 63%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 55%;
  border-radius: 6%;
  box-shadow: 0px 0px 7px 12px rgb(255 255 255), 0px 1px 20px 20px rgb(2 0 0 / 44%);
}

.imagesize {
  rotate: 347deg;
}

.imagesize2 {
  rotate: 12deg;
  z-index: -1;
}
.textmoboletransper {
  opacity: 0.8;
  position: absolute;
  /* margin-top: -43px; */
  background-color: white;
  /* top: 403px; */
  top: 502px;
  font-style: oblique;
  font-family: -webkit-body;
}
/* 
block
----- 
*/
.block {
  padding: 60px 0;
  border-bottom: 1px solid #d9d9d9;
}
/* galleary */
.gallearycard{
  border-radius: 23px 23px 23px 23px;
  box-shadow: 0px 0px 8px 2px #8f919157;

}
.ant-card-cover img {
  border-radius: 23px 23px 0 0;
}
.maintitlephoto{
  font-family: var(--is-tertiary-font);
  font-style: normal;
  font-weight: 600;
  font-size: 43px;
  /* line-height: 93px; */
  color: red;
}

/* 
about
----- 
*/
.aboutBlock .contentHolder {
  text-align: center;
  margin: 0 0 50px;
}

.aboutBlock .icon {
  font-size: 40px;
  color: #1890ff;
  margin: 0 0 10px;
}

.aboutBlock .content {
  text-align: center;
}
.eventcard{
  border-radius: 23px 23px 23px 23px;
  box-shadow: 0px 0px 8px 2px #8f919157;
}
.cardimage{
  border-radius: 23px 23px 23px 23px;
}
/* 
how it works
------------
*/
.worksBlock {
  background: url('assets/images/images1.jpg') no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  position: relative;
}

.worksBlock:before {
  content: '';
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.worksBlock h2 {
  color: #fff;
}

.span{
  color: white !important ;
 
}
.textvisible{
  background-color:  #120303c7;
  border-radius: 20px;
  box-shadow: 2px 1px 20px 6px #833;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 6px;
}

.worksBlock .contentHolder {
  text-align: center;
}

.worksBlock .contentHolder button {
  font-size: 40px;
  line-height: 1;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 30px;
  border-radius: 50%;
  width: 110px;
  height: 110px;
}

/* 
faqs
----
*/
.faqBlock .ant-collapse {
  margin: 0 0 40px;
}

.faqBlock .quickSupport {
  text-align: center;
  max-width: 740px;
  margin: auto;
}

.faqBlock .fas {
  margin: 0 10px 0 0;
}

/* 
pricing block
-------------
*/
.pricingBlock .ant-list {
  text-align: center;
}

.pricingBlock .ant-row > div:nth-child(2) .ant-list-item {
  box-shadow: 0 0 12px 2px #f3f3f3;
  transform: scale(1.1);
  position: relative;
  z-index: 1;
}

.pricingBlock .ant-card-head-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
}

.pricingBlock .large {
  font-size: 38px;
  line-height: 1;
  margin: 0 0 20px;
}

.pricingBlock .fab {
  margin: 0 10px 0 0;
}

/* 
contact
-------
*/
.contactBlock .ant-form {
  max-width: 640px;
  margin: auto;
}

.contactBlock .ant-form textarea {
  min-height: 120px;
  height: 120px;
}
.fireworks {
  position: absolute;
  left: 0px;
  width: 100% !important;
  height: 1819px;
  pointer-events: none;
}

/* 
footer
------
*/
.ant-layout-footer {
  /* background: #111 !important; */
  color: #fff !important;
  padding: 60px 0 !important;
  text-align: center;
}

.footer .logo {
  font-size: 22px;
  /* text-transform: uppercase; */
  margin: 0 0 20px;
}

.footer .fas {
  color: #1890ff;
  font-size: 28px;
  margin: 0 5px 0 0;
}

.footer .logo a {
  color: #fff;
}

.footer .socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 24px;
}

.footer .socials li {
  margin: 0 20px;
}

.footer .socials a {
  color: #fff;
}

.footer .socials a:hover {
  color: #1890ff;
}

.footer .goTop:hover {
  opacity: 0.7;
}

.mobileVisible {
  display: none;
}

.mobileHidden {
  display: block;
}
/* photoGallery */
.photomaindiv{
  margin-top: 100px;
  margin-bottom: 100px;
}
.photosize{
  width: 100%;
}
/* .photosizecard{
  width: 98%;
  margin-bottom: 10px;
  box-shadow: -2px -2px 12px 0px #71797b96;
  border-radius: 21px;
} */
/* .react-photo-gallery--gallery  img{
  border-radius: 10px 10px 0 0;
} */
/* .gallerydiv{
  box-shadow: -2px -2px 7px 5px #71797b96;
    border-radius: 10px;
} */
.titlephotos{
  padding-left: 12px;
}
.ant-btn-primary {
  background: #561f1f;
  border-color: #561f1f;
  border-radius: 10%;
  box-shadow: 0px 0px 20px 4px rgb(255 142 142), 0px 1px 12px 6px rgb(255 241 241 / 44%);
}
/* ===============footer================================== */
.bodyofooter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5;;
  text-align: center;
  color: white;
  box-sizing: border-box;
  padding: 1rem;
}

h1 {
  position: relative;
  z-index: 10
}

a {
  color: #FFE37B;
  text-decoration: none;
}

.wave-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: -60px;
}
/* ===============footer================================== */

/* <======================== @media ============================> */
 /* 
responsive
----------
*/

  /* < 580px */
  @media screen and (max-width: 580px) {
    .sliderineerdiv {
      position: relative;
      margin-left: 7%;
      margin-right: 13%;
      margin-top: -10px;
      margin-bottom: 15px;
  }
  .heroBlock {
    background-position: 50% 100%;
    background-size: 100% 100%;
    height: 150vh;
  }
  .textpositioncarousal {
    padding: 20px;
    margin-left: 2%;
    width: 100%;
    font-size: 10px;
    justify-content: center;
    align-items: center;
}
.contentstyletext {
  font-family: var(--is-tertiary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  color: var(--is-black-color);
}
.styleoftext {
  font-family: var(--is-tertiary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 41px;
  line-height: 50px;
  color: var(--is-black-color);
}
.sliderineerdiv {
  position: relative;
  margin-left: 7%;
  margin-right: 13%;
  margin-top: -10px;
  margin-bottom: 15px;
}
.heroBlock {
background-position: 50% 100%;
background-size: 100% 100%;
height: 150vh;
}
.ant-drawer {
width: 540px;
}
  }

  /* >: 768px */
  @media screen and (min-width: 768px) {
  
    .heroBlock {
      /* background: url('assets/images/images7.jpg') no-repeat;  */
      /* background-position: 50% 100%;
      background-size: 100% 100%;
      height: 100vh; */
     }
     .backgroundimaginmobileview{
      display: none;
    }
    
    
    }

    /* <: 768px */
    @media screen and (max-width: 767px) {
       /* } */
       .backgroundimaginmobileview{
        display: block;
      }
      .heroBlock {
        background-position: 50% 100%;
        background-size: 100% 100%;
        height: 250vh;
      }
      .imagesize2 {
        position: absolute;
        width: 44%;
        height: 29%;
        top: 28%;
        left: 62%;
        transform: translate(-50%, -50%);
        border-radius: 6%;
        box-shadow: 0px 0px 7px 12px rgb(255 255 255), 0px 1px 20px 20px rgb(2 0 0 / 44%);
    }
    .imagesize {
      top: 25%;
      left: 44%;
      transform: translate(-50%, -50%);
      width: 44%;
      height: 29%;
      border-radius: 6%;
      position: absolute;
      box-shadow: 0px 0px 7px 12px rgb(255 255 255), 0px 1px 20px 20px rgb(2 0 0 / 44%);
  }
      .heroBlock {
        background-position: 50% 100%;
        background-size: 100% 100%;
        height: 160vh;
      }
      }

      @media only screen and (max-width: 991px) {
        .pricingBlock .ant-row > div:nth-child(2) .ant-list-item {
          transform: scale(1.14);
        }
      }
      
      @media only screen and (max-width: 767px) {
        .pricingBlock .ant-row > div:nth-child(2) .ant-list-item {
          transform: scale(1);
        }
      
        .mobileVisible {
          display: block;
        }
        
        .mobileHidden {
          display: none;
        }
      }
      
      /* 990 */
  @media screen and (max-width: 992px) {
    .textpositioncarousal {
      margin-top: -568px;
      padding: 20px;
      margin-left: 2%;
      width: 100%;
      justify-content: center;
      align-items: center;
  }
  .styleoftext {
    font-size: 51px;
  }
  .contentstyletext {
    font-size: 17px;
  }
  }
  
  /* Tablet-sized screens (768px - 991px) */
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .heroBlock {

      background-position: 50% 100%;
      background-size: 100% 100%;
      height: 180vh;
    }
    .imagtabset{
      position: relative;
      top: -17%;
      left: -10%;
    }
    .imagesize {
      top: 44%;
      left: 48%;
      transform: translate(-50%, -50%);
      width: 35%;
      height: 33%;
      border-radius: 6%;
      position: absolute;
      box-shadow: 0px 0px 7px 12px rgb(255 255 255), 0px 1px 20px 20px rgb(2 0 0 / 44%);
  }
  .imagesize2 {
    position: absolute;
    top: 49%;
    left: 73%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 33%;
    border-radius: 6%;
    box-shadow: 0px 0px 7px 12px rgb(255 255 255), 0px 1px 20px 20px rgb(2 0 0 / 44%);
}
.styleoftext {
  font-size: 51px;
}
.contentstyletext {
  font-size: 17px;
}
  }

  /* min-width: 993px ----- max-width: 1283px */

  @media screen and (min-width: 993px) and (max-width: 1283px) {
    .heroBlock {
      background-position: 50% 100%;
      background-size: 100% 100%;
      height: 112vh;
  }
    .imagesize2 {
      position: absolute;
      top: 48%;
      left: 65%;
      transform: translate(-50%, -50%);
      width: 40%;
      height: 40%;
      border-radius: 6%;
      box-shadow: 0px 0px 7px 12px rgb(255 255 255), 
  }
  .imagesize {
    top: 44%;
    left: 43%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%;
    border-radius: 6%;
    position: absolute;
    box-shadow: 0px 0px 7px 12px rgb(255 255 255), 0px 1px 20px 20px rgb(2 0 0 / 44%);
}
.styleoftext {
    font-size: 52px;
}
.contentstyletext {
  font-size: 19px;
}
  }

  /* <======================== @media ============================> */

